{
  "extends": "standard",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-template-curly-in-string": "off",
    "no-unused-vars": "off"
  }
}
